<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
         style="background-image: url('assets/img/bg5.jpg') ;">
    </div>

        <div class="container">
          <div class="content-center">

            <h3 class="title">Our Packs</h3>


            <div class="content">

              <div class="social-description">
                <h2>{{all}}</h2>
                <p>Packs</p>
              </div>
              <div class="social-description">
                <h2>{{bought}}</h2>
                <p>packs was bought</p>
              </div>

            </div>
          </div>
        </div>

  </div>
  <div class="section">
    <div class="button-container">
      <div class="container section-plan">
        <div class="row">
          <div *ngFor="let pack of packs" class="col-md-4 col-sm-4 col-xs-12" style="padding-bottom:20px ">
            <div class="row plan-box plan-primary text-center">
              <div class="col-md-12 section1">
                <h2>{{pack.name}}</h2>
              </div>
              <div class="col-md-12 section2">
                <h3>$ {{pack.price}} / Month</h3>
              </div>
              <div class="col-md-12 section3">
                <p>Personal use</p>
                <p>{{pack.description}}</p>
                <p>24/7 support</p>
              </div>
              <div class="col-md-12 section4">
                <button *ngIf="user.role == 'ADMINISTRATEUR'" class="btn btn-primary btn-block" (click)="buy(pack.id)">Buy Now</button>
                <button *ngIf="user.role != 'ADMINISTRATEUR'" class="btn btn-primary btn-block" (click)="open(modal_mini, 'modal_mini', 'sm')">
                  Buy Now
                </button>
                <ng-template #modal_mini let-c="close" let-d="dismiss">
                  <div class="modal-header justify-content-center">
                    <div class="modal-profile">
                      <i class="now-ui-icons users_circle-08"></i>
                    </div>
                  </div>
                  <div class="modal-body">
                    <p>You need to be an enterprise admin to buy packs</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-neutral">Back</button>
                    <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')">Close</button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>
