<app-navbar></app-navbar>

<div class="wrapper" *ngIf="candidate">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">{{candidate.nom}}</h3>
                <p class="category">Photographer</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comment</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
              <div *ngIf="x">
                    <button (click)="folow()" class="btn btn-primary btn-round btn-lg">Follow</button>
              </div>
              <div *ngIf="y">
                    <button (click)="folow()" class="btn btn-primary btn-round btn-lg">UnFollow</button>
              </div>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
              </a>
          </div>
          <h3 class="title">About me</h3>
          <div *ngIf="current">
                <button (click)="certif()" class="btn btn-primary btn-round btn-lg">Add Certification</button>
                <div *ngIf="cert">
                      <form [formGroup]="certifForm">
                              <div class="row" >
                                      <div class="col-sm-3">
                                          <p class="category">Title:</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <input type="text" value="" placeholder="name" class="form-control" formControlName="title"/>
                                      </div>
                              </div>
                              <div class="row" >
                                      <div class="col-sm-3">
                                          <p class="category">Place:</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <input type="text" value="" placeholder="place" class="form-control" formControlName="place"/>
                                      </div>
                              </div>
                              <div class="row" >
                                      <div class="col-sm-3">
                                          
                                      </div>
                                      <div class="col-sm-4">
                                          <button (click)="addCertif()" class="btn btn-primary">Add</button>
                                      </div>
                              </div>
                      </form>
      
                </div>
          </div>
          <h2>My Certifications :</h2>
        <!--   <div *ngFor="let certif of candidate.certifications">
            <h4>Title :{{certif.title}}</h4>
            <h4>Place;  {{certif.place}}</h4>

          </div> -->
          <div class="row"  *ngFor="let certif of candidate.certifications"style="border: 1px solid #cae5fb;
          padding: 10px;
          box-shadow: 5px 10px #dfeefa;">
           
              <div class="col-sm-2" style="padding-top:10px"> 
                  <p>Title :{{certif.title}}</p>
              </div>
              <div class="col-sm-2" style="padding-top:10px">
                  <p>Place;  {{certif.place}}</p>
              </div>
              
            </div>
            <h2>Following :</h2>
            <div class="row">
                    <div class="row"  *ngFor="let contact of candidate.contacts"style="border: 1px solid #cae5fb;
                    padding: 10px;
                    box-shadow: 5px 10px #dfeefa;">
                       <div class="col-sm-2" style="padding-bottom: 10px;">
                            <img src="assets/img/default-avatar.png" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
                      </div>
                        <div class="col-sm-2" style="padding-top:10px"> 
                            <p>Nom :{{contact.nom}}</p>
                        </div>
                        <div class="col-sm-2" style="padding-top:10px">
                            <p>Prenom:  {{contact.prenom}}</p>
                        </div>
                        
                      </div>
                      <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">My Portfolio</h4>
                      <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons design_image"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons location_world"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                              <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
