<mat-nav-list>
  <div *ngFor="let notif of notifs " >
    <a  mat-list-item >
      <span mat-line style="color: #3F5EFB"><strong>{{notif.title}}</strong></span>
    <span mat-line>{{notif.object}}</span>
    <span mat-line>{{notif.date}}</span>
    </a>
  </div>


</mat-nav-list>
