
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="replyContent">
        <mat-header-cell *matHeaderCellDef> Comment Content </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.replyContent}}  </mat-cell>
      </ng-container>

      <!-- Name Column -->


      <!-- Weight Column -->
      <ng-container matColumnDef="user_name">
        <mat-header-cell *matHeaderCellDef> Post owner  name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.user.prenom}} {{element.user.nom}}</mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.created_at}} <p>  </p>  <button class="btn" (click)="onDelete(element.id)">Delete</button> </mat-cell>
      </ng-container>
      <!-- </div> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

