
<p-chart type="pie" [data]="data"></p-chart>
<div>
    <select (change)="stats($event.target.value)"
    [(ngModel)]="selected">
    <option [value]="item.id" *ngFor="let item of items">{{item.name}}</option>
     </select>
  </div>
<p-chart type="bar" [data]="data2" (onDataSelect)="selectData($event)" ></p-chart>
<!-- <button (click)="stats()">aa</button> -->