
<br>
<br>
<br><br>
<div class="container" *ngFor="let c of Candidatures">
  <div class="col-md-10 ml-auto col-xl-10 mr-auto card col-md-offset-2">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">{{c.candidate.nom.toString().toUpperCase()}}</li>
      <li style="color: transparent">e</li>
      <li class="nav-item">{{c.candidate.prenom.toString().toUpperCase()}}</li>
      <li style="color: transparent">espace</li>
      <li class="nav-item">{{c.score}}</li>
      <li style="color: transparent">espace</li>
      <li *ngIf="c.score>=50" class="nav-item text-success"> {{c.result}}</li>
      <li *ngIf="c.score<50" class="nav-item text-danger"> {{c.result}}</li>
      <li style="color: transparent">espace</li>
      <li class="nav-item"> {{c.date| date}}</li>

    </ul>


  </div>


  <br>
  <br>



</div>

