<h1 mat-dialog-title>Send message</h1>
<div mat-dialog-content>
  <p>Write your message </p>
  <mat-form-field>
    <textarea matInput [(ngModel)]="data.content"> </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.content" cdkFocusInitial>Ok</button>
</div>
