
<div class="wrapper">
  <div style="" class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
         style="background-image: url('assets/img/bg5.jpg') ;">
    </div>

    <div class="container">
      <div style="padding-top: 400px" class="content-center">

        <h3 class="title">Confirm your payment</h3>
        <div class="container section-plan">


              <div class="row plan-box plan-primary text-center">
                <div class="col-md-12 section1">
                  <h2>{{pack.name}}</h2>
                </div>
                <div class="col-md-12 section2">
                  <h3>$ {{pack.price}} / Month</h3>
                </div>
                <div class="col-md-12 section3">
                  <p>Personal use</p>
                  <p>{{pack.description}}</p>
                  <p>24/7 support</p>
                </div>
                <div class="col-md-12 section4">
                  <div [hidden]="paidFor" #paypal></div>
                </div>
              </div>


        </div>
      </div>

    </div>

  </div>


  <footer style="padding-top: 300px" class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>




