.section-plan{
  background-color: transparent;
}
.plan-box{
  margin:0px;
  border:1px solid #D9544F;
  border-radius:2px;
}
.plan-danger1{
  background-color: #D9544F;
}
.section1{
  padding: 15px 0px 15px 0px;
  color:#fff;
}
.section2{
  background-color: #BCBCBC;
  padding: 15px 0px 15px 0px;
}
.section2 h3{
  font-size:30px;
  color:#757A74;
  font-weight: bold;
}
.section3{
  padding:0px;
  background-color:#fff;
}
.section3 p{
  padding:8px;
  margin:0px;
  border-bottom:1px solid #DDDDDD;
  color: #787C7D;
}
.section4{
  background-color: #F5F5F5;
  padding: 10px;
}
.section4 button{
  font-size:20px;
}
.plan-primary{
  border:1px solid #f96332;
  background-color:#f96332;
}
.plan-danger3{
  border:1px solid #5BB85D;
  background-color:#5BB85D;
}
