<br>
<br>
<br><br><br>
<div class="container">
    <div class="col-md-10 ml-auto col-xl-10 mr-auto card col-md-offset-2" align="center" style="height: 800px">

<ngb-alert *ngIf="success" type="success" [dismissible]="false" (close)="close()" (click)="close()">Quiz successfully created</ngb-alert>
<!-- <ngb-alert *ngIf="error" type="danger" (close)="onError()" >Oops! something went wrong, wait a moment and try again</ngb-alert> -->

<div [formGroup]="questionForm" style="padding-top: 30px">
    <select   [value]="-1" class="custom-select" style="width: 20%" id="skill" (change)="getId($event.target.value)">
        <option   value="-1" selected>Skill</option>
        <option  *ngFor="let s of skills" value="{{s.id}}">{{s.skill}}</option>
    </select>
    <br>
    &nbsp;&nbsp;<br>
    <select formControlName="question" [ngModel]="selected" class="custom-select" style="width: 40%" id="question" >
        <option   value=-1 selected>Question</option>
        <option  *ngFor="let q of questions" value="{{q.id}}">{{q.question}}</option>
    </select>
    &nbsp;&nbsp;
    <button class="btn btn-success" (click)="addQuestion()"><i class="now-ui-icons ui-1_simple-add"></i></button>
</div>
<div>
    <table>
        <tr  *ngFor="let q of questionsAdded ; let i=index">

       <td> <span>{{q.question}}</span>  </td>
           <td> <button class="btn btn-danger btn-round" (click)="removeQuestion(i)"><i class="now-ui-icons ui-1_simple-delete"></i></button>
            </td>
        </tr>
    </table>
</div>
<div>
    <button class="btn btn-success" (click)="validateQuiz()">Validate</button>
</div>
    </div>
</div>
