
    


     
      <app-navbar></app-navbar>
      <div class="wrapper" *ngIf="entreprise">
          <div class="page-header page-header-small">
              <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
              </div>
              <div class="container">
                  <div class="content-center">
                      <h1 class="title">{{entreprise.name}}</h1>
                      <div class="text-center">
                        <h2 class="title">{{entreprise.field}}</h2>
                        
                        <h2 class="title">{{entreprise.location}}</h2>
                        <div *ngIf="entreprise.pack"><h2 class="title">{{entreprise.pack.name}}</h2></div>
                       
                      </div>
                  </div>
              </div>
          </div>
        </div>
      <div id="mySidebar" class="sidebar" style="margin-top:50px;">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        <button (click)="aboutB()">About</button>
        <button (click)="profilesB()"> Profiles</button>
        <button (click)="jobOfersB()">Job Offers</button>
        <button (click)="eventsB()">Events</button>
        <button (click)="statisticsB()">Statistics</button>
        <button (click)="question()">Questions</button>
        <button (click)="pack()">Packs</button>
       <!--  <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a> -->
      </div>
  
      <div id="main">
        <br><br>
        <button class="openbtn" (click)="openNav()">☰ </button>  
        <div  style="margin-top:100px">       
              <div *ngIf="profiles">
                  <app-profiles [entreprise]="entreprise"></app-profiles>
              </div>
              <div *ngIf="jobOffers">
                  <app-job-offers></app-job-offers>
              </div>
              <div *ngIf=events>
                  <app-events></app-events>
              </div>
              <div *ngIf="statistics">
                <app-statistics-entreprise-front></app-statistics-entreprise-front>
              </div>
              <div *ngIf="about">
                <button (click)="displayevents()">display data</button>
                <p-fullCalendar [events]="data"  [options]="options" deepChangeDetection="true" (dateClick)="handleDateClick($event)" ></p-fullCalendar>
              </div>
       
          </div>
      </div>
      
      <style>
        body {
          font-family: "Lato", sans-serif;
        }
        
        .sidebar {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
        }
        
        .sidebar button {
          padding: 8px 8px 8px 32px;
         
          display: block;
          transition: 0.3s;
          background-color: transparent; 
          border: none;
          color: grey;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
      
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        
        .sidebar a:hover {
          color: #f1f1f1;
        }
        
        .sidebar .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
        
        .openbtn {
          font-size: 20px;
          cursor: pointer;
          background-color: #111;
          color: white;
          padding: 10px 15px;
          border: none;
        }
        
        .openbtn:hover {
          background-color: #444;
        }
        
        #main {
          transition: margin-left .5s;
          padding: 16px;
        }
        
        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
          .sidebar {padding-top: 15px;}
          .sidebar a {font-size: 18px;}
        }
        </style>