
<div *ngIf="new">
<div class="container text-center">
  <div class="row">
    <div class="col-sm-9"></div>
    
    <div class="col-sm-3">
        <button type="button" class="bb" (click)="newOffer()">
            <i class="fa fa-plus"></i> New Offer
         </button>
        
    </div>
  </div>
</div>
<div class="container text-center" style="border-bottom: 1px solid grey;"*ngIf="JobOfferEntreprise">    
    <div  *ngFor="let offer of JobOfferEntreprise" >
        <div class="row" *ngIf="offer.disabled===false">
          <div class="col-sm-2" style="padding-bottom: 10px;">
              <img src="assets/img/jobs.png" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
        </div>
        <div class="col-sm-2" style="padding-top:10px"> 
            <p>{{offer.name}}</p>
        </div>
        <div class="col-sm-2" style="padding-top:10px">
            <p>{{offer.fieldOfExpertise}}</p>
        </div>
        <div class="col-sm-2"  style="padding-top:10px">  
            <p>{{offer.dateCreation|date}}</p>
        </div>
        <div class="col-sm-4">      
            <button class="btn btn-info" (click)=details(offer.id)>view details</button>
            <button class="btn btn-success" (click)="addQuizz(offer.id)">Add Quizz</button>
            <button class="btn btn-danger" (click)=delete(offer.id)>delete</button>
        
        </div>
      </div>
    </div>
</div>
</div>
<div *ngIf="form" class="container text-center" >
    <form [formGroup]="jobofferform">
  <div class="row" >
    <div class="col-sm-3">
        <p class="category">Name:</p>
    </div>
    <div class="col-sm-4">
        
        <input type="text" value="" placeholder="name" class="form-control" formControlName="name"/>
    </div>
    <div class="col-sm-2">
            <div *ngIf="jobofferform.get('name').errors?.required && jobofferform.get('name').touched ">
                   <p style="color:red">field is required</p>
                </div>
    </div>  
  </div>
    <div class="row" >
        <div class="col-sm-3">
            <p class="category">Years Of experience required:</p>
        </div>
        <div class="col-sm-4">
            
            <input type="number" value="" placeholder="Years Of experience required" class="form-control" formControlName="yearsOfExperience" />
        </div>
        
      </div>
      <div class="row" >
          <div class="col-sm-3">
              <p class="category">Minimum Salary:</p>
          </div>
          <div class="col-sm-4">
              
              <input type="number" value="" placeholder="Minimum Salary" class="form-control" formControlName="minimumSalary"/>
              <!-- <nouislider class="slider slider-primary" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider> -->
          
          </div>
            
        </div>
        <div class="row" >
            <div class="col-sm-3">
                <p class="category">Maximum Salary:</p>
            </div>
            <div class="col-sm-4">
                
                <input type="text" value="" placeholder="Maximum Salary" class="form-control" formControlName="maximumSalary"/>
            </div>
              
          </div>
          <div class="row" >
              <div class="col-sm-3">
                  <p class="category">Field of Expertise:</p>
              </div>
              <div class="col-sm-4">
                  
                  <input type="text" value="" placeholder="Field of Expertise" class="form-control"   formControlName="fieldOfExpertise" />
              </div>
              <div class="col-sm-2">
                    <div *ngIf="jobofferform.get('fieldOfExpertise').errors?.required && jobofferform.get('fieldOfExpertise').touched ">
                           <p style="color:red">field is required</p>
                        </div>
            </div>  
            </div>
            <div class="row" >
                <div class="col-sm-3">
                    <p class="category">location:</p>
                </div>
                <div class="col-sm-4">
                    
                    <input type="text" value="" placeholder="location" class="form-control" formControlName="location" />
                </div>
                <div class="col-sm-2">
                        <div *ngIf="jobofferform.get('location').errors?.required && jobofferform.get('location').touched ">
                               <p style="color:red">field is required</p>
                            </div>
                </div>  
              </div>
              <div class="row" >
                  <div class="col-sm-3">
                      <p class="category">Diploma:</p>
                  </div>
                  <div class="col-sm-4">
                      
                      <input type="text" value="" placeholder="Diploma" class="form-control" formControlName="diploma" />
                  </div>
                    
                </div>
                All Skills:
                <div *ngFor="let skill of skills let i = index" style="display: inline-block;" >
                    
                        <span  class="badge badge-default" (click)="addSkill(skill.id)" >{{skill.skill}}</span>     
                </div><br/>
                Skills To Add:
                <div *ngFor="let skill of skillsToAdd let i = index" style="display: inline-block;" >
                        <span  class="badge badge-primary" (click)="removeSkill(skill.id)" >{{skill.skill}}</span>     
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-success"(click)="creatOffer()" [disabled]="!jobofferform.valid">Validate</button>
                      </div>
                      <div class="col-sm-1">
                          <button class="btn btn-danger" (click)="return()"> Cancel</button>
                      </div>
                </div>
              
             
               
              
    </form>
</div>




<div *ngIf="formUpdate" class="container text-center" >
        <form [formGroup]="jobofferform">
      <div class="row" >
        <div class="col-sm-3">
            <p class="category">Name:</p>
        </div>
        <div class="col-sm-4">
            
            <input type="text" value="" placeholder="name" class="form-control" formControlName="name"/>
        </div>
        <div class="col-sm-2">
                <div *ngIf="jobofferform.get('name').errors?.required && jobofferform.get('name').touched ">
                       <p style="color:red">field is required</p>
                    </div>
        </div>  
      </div>
        <div class="row" >
            <div class="col-sm-3">
                <p class="category">Years Of experience required:</p>
            </div>
            <div class="col-sm-4">
                
                <input type="number" value="" placeholder="Years Of experience required" class="form-control" formControlName="yearsOfExperience" />
            </div>
            
          </div>
          <div class="row" >
              <div class="col-sm-3">
                  <p class="category">Minimum Salary:</p>
              </div>
              <div class="col-sm-4">
                  
                  <input type="number" value="" placeholder="Minimum Salary" class="form-control" formControlName="minimumSalary"/>
                  <!-- <nouislider class="slider slider-primary" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider> -->
              
              </div>
                
            </div>
            <div class="row" >
                <div class="col-sm-3">
                    <p class="category">Maximum Salary:</p>
                </div>
                <div class="col-sm-4">
                    
                    <input type="text" value="" placeholder="Maximum Salary" class="form-control" formControlName="maximumSalary"/>
                </div>
                  
              </div>
              <div class="row" >
                  <div class="col-sm-3">
                      <p class="category">Field of Expertise:</p>
                  </div>
                  <div class="col-sm-4">
                      
                      <input type="text" value="" placeholder="Field of Expertise" class="form-control"   formControlName="fieldOfExpertise" />
                  </div>
                  <div class="col-sm-2">
                        <div *ngIf="jobofferform.get('fieldOfExpertise').errors?.required && jobofferform.get('fieldOfExpertise').touched ">
                               <p style="color:red">field is required</p>
                            </div>
                </div>  
                </div>
                <div class="row" >
                    <div class="col-sm-3">
                        <p class="category">location:</p>
                    </div>
                    <div class="col-sm-4">
                        
                        <input type="text" value="" placeholder="location" class="form-control" formControlName="location" />
                    </div>
                    <div class="col-sm-2">
                            <div *ngIf="jobofferform.get('location').errors?.required && jobofferform.get('location').touched ">
                                   <p style="color:red">field is required</p>
                                </div>
                    </div>  
                  </div>
                  <div class="row" >
                      <div class="col-sm-3">
                          <p class="category">Diploma:</p>
                      </div>
                      <div class="col-sm-4">
                          
                          <input type="text" value="" placeholder="Diploma" class="form-control" formControlName="diploma" />
                      </div>
                        
                    </div>
                    All Skills:
                    <div *ngFor="let skill of skills let i = index" style="display: inline-block;" >
                        
                            <span  class="badge badge-default" (click)="addSkill(skill.id)" >{{skill.skill}}</span>     
                    </div><br/>
                    Skills To Add:
                    <div *ngFor="let skill of skillsToAdd let i = index" style="display: inline-block;" >
                            <span  class="badge badge-primary" (click)="removeSkill(skill.id)" >{{skill.skill}}</span>     
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-success"(click)="creatOffer()" [disabled]="!jobofferform.valid">Validate</button>
                          </div>
                          <div class="col-sm-1">
                              <button class="btn btn-danger" (click)="return()"> Cancel</button>
                          </div>
                    </div>
                  
                 
                   
                  
        </form>
    </div>





<div class="container text-center " *ngIf="detailsJob" >
    <div *ngIf="jobofferdetails">
           
          <!--   <app-joboffer-details [jobofferdetails]="jobofferdetails"></app-joboffer-details> -->

    </div>
   
    
</div>

