


<br>
<br>
<br><br>
<div class="container" *ngFor="let e of listEntretien ">
    <div class="col-md-10 ml-auto col-xl-10 mr-auto card col-md-offset-2">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">{{e.candidature.job_Offer.name}}</li>
            <li style="color: transparent">espace</li>
            <li style="color: transparent">espace</li>
            <li class="nav-item"> {{e.candidature.job_Offer.nameEntreprise}}</li>
            <li style="color: transparent">espace</li>
            <li style="color: transparent">espace</li>
            <li class="nav-item"> {{e.date | date}}</li>
            <li style="color: transparent">espace</li>
            <li style="color: transparent">espace</li>
            <li  class="nav-item text-success"> {{e.candidature.score}}</li>


        </ul>


    </div>


    <br>
    <br>



</div>

