<!-- 
<p-card header="Simple Card" [style]="{width: '360px'}">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
</p-card>
 -->
 

 <div style="margin-left:150px">
    <button class="btn btn-danger" (click)="list()">List Display</button>
    <button class="btn btn-danger" (click)="calendar()">Calendar Display</button>
   
</div>
<div *ngIf="listD">
    <div class="container text-center">
        <div class="row">
          <div class="col-sm-9"></div>
          
          <div class="col-sm-3">
              <button type="button" class="bb" (click)="newOffer()">
                  <i class="fa fa-plus"></i> New Event
               </button>
              
          </div>
        </div>
      </div>
    <div *ngIf="events" class="container" style="margin:100px" >
        <div class="row">
        <div *ngFor="let event of events" >
          <div class="col-sm">
              <p-card header="{{event.name}}" subheader="{{event.location}}" [style]="{width: '360px'}" styleClass="ui-card-shadow" >
                  <!--  <p-header>
                       <img src="Card" src="assets/showcase/images/usercard.png">
                   </p-header> -->
                   <div>
                     {{event.description}}
                   </div>  
                   <p-footer>
                       <button pButton type="button" label="Details"  style="margin-right: .25em" class="ui-button-info" (click)="eventDetail(event)"></button>
                       <button pButton type="button" label="Upadate" style="margin-right: .25em"  class="ui-button-warning" (click)="updateEvent(event)"></button>
                       <button pButton type="button" label="Delete" class="ui-button-danger" (click)="delete(event.id)"></button>
                   </p-footer>
               </p-card><br/>
          </div>
        
        </div>
    </div>
    
    
    </div>
    
</div>
<div *ngIf="calendarD">
    <p-fullCalendar [events]="dat"  [options]="options" deepChangeDetection="true" (dateClick)="handleDateClick($event)" ></p-fullCalendar>

</div>

<div *ngIf="form" class="container text-center" >
    <form [formGroup]="eventForm">
  <div class="row" >
    <div class="col-sm-3">
        <p class="category">Name:</p>
    </div>
    <div class="col-sm-4">
        
        <input type="text" value="" placeholder="name" class="form-control" formControlName="name"/>
    </div>
    <div class="col-sm-2">
            <div *ngIf="eventForm.get('name').errors?.required && eventForm.get('name').touched ">
                   <p style="color:red">field is required</p>
                </div>
    </div>  
  </div>
    <div class="row" >
        <div class="col-sm-3">
            <p class="category">location:</p>
        </div>
        <div class="col-sm-4">
            
            <input type="text" value="" placeholder="location" class="form-control" formControlName="location" />
        </div>
        
      </div>
      <div class="row" >
          <div class="col-sm-3">
              <p class="category">Description:</p>
          </div>
          <div class="col-sm-4">
              
              <input type="text" value="" placeholder="Description" class="form-control" formControlName="description"/>
              <!-- <nouislider class="slider slider-primary" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider> -->
          
          </div>
            
        </div>
        <div class="row" >
            <div class="col-sm-3">
                <p class="category">Start Date:</p>
            </div>
            <div class="col-sm-4">
                
                <input type="date" value="" placeholder="Start Date" class="form-control" formControlName="start_date"/>
            </div>
              
          </div>
          <div class="row" >
              <div class="col-sm-3">
                  <p class="category">End Date:</p>
              </div>
              <div class="col-sm-4">
                  
                  <input type="date" value="" placeholder="End Date" class="form-control"   formControlName="end_date" />
              </div>
              <div class="col-sm-2">
                    <div *ngIf="eventForm.get('end_date').errors?.required && eventForm.get('end_date').touched ">
                           <p style="color:red">field is required</p>
                        </div>
            </div>  
            </div>
     
     
       
                <div class="row">
                    <div class="col-sm-7">
                        
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-success"(click)="creatOffer()" [disabled]="!eventForm.valid">Validate</button>
                      </div>
                      <div class="col-sm-1">
                          <button class="btn btn-danger" (click)="return()"> Cancel</button>
                        </div>
                </div>
              
             
               
              
    </form>
</div>








<div *ngIf="formUpdate" class="container text-center" >
        <form [formGroup]="eventFormUpdate">
      <div class="row" >
        <div class="col-sm-3">
            <p class="category">Name:</p>
        </div>
        <div class="col-sm-4">
            
            <input type="text" value="{{idUpdate.name}}" placeholder="name" class="form-control" formControlName="name"/>
        </div>
        <div class="col-sm-2">
                <div *ngIf="eventForm.get('name').errors?.required && eventForm.get('name').touched ">
                       <p style="color:red">field is required</p>
                    </div>
        </div>  
      </div>
        <div class="row" >
            <div class="col-sm-3">
                <p class="category">location:</p>
            </div>
            <div class="col-sm-4">
                
                <input type="text" value="{{idUpdate.location}}" placeholder="location" class="form-control" formControlName="location" />
            </div>
            
          </div>
          <div class="row" >
              <div class="col-sm-3">
                  <p class="category">Description:</p>
              </div>
              <div class="col-sm-4">
                  
                  <input type="text" value="{{idUpdate.description}}" placeholder="Description" class="form-control" formControlName="description"/>
                  <!-- <nouislider class="slider slider-primary" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider> -->
              
              </div>
                
            </div>
            <div class="row" >
                <div class="col-sm-3">
                    <p class="category">Start Date:</p>
                </div>
                <div class="col-sm-4">
                    
                    <input type="date" value="{{idUpdate.start_date|date}}" placeholder="Start Date" class="form-control" formControlName="start_date"/>
                </div>
                  
              </div>
              <div class="row" >
                  <div class="col-sm-3">
                      <p class="category">End Date:</p>
                  </div>
                  <div class="col-sm-4">
                      
                      <input type="date" value="{{idUpdate.end_date|date}}" placeholder="End Date" class="form-control"   formControlName="end_date" />
                  </div>
                  <div class="col-sm-2">
                        <div *ngIf="eventForm.get('end_date').errors?.required && eventForm.get('end_date').touched ">
                               <p style="color:red">field is required</p>
                            </div>
                </div>  
                </div>
         
         
           
                    <div class="row">
                        <div class="col-sm-7">
                            
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-success"(click)="updateeventh()">Validate</button>
                          </div>
                          <div class="col-sm-1">
                              <button class="btn btn-danger" (click)="return()"> Cancel</button>
                            </div>
                    </div>
                  
                 
                   
                  
        </form>
    </div>
<div *ngIf="eventDetails">
<!--   <app-events-details [even]="event"></app-events-details> -->
</div>
