.bb {
    padding: 8px 8px 8px 32px;
   
    display: block;
    transition: 0.3s;
    background-color: transparent; 
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
