<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
      </div>
      <div class="container">
          <div class="content-center">
              <h1 class="title">Welcome to JOBS</h1>
              <div class="text-center">
                <h2 class="title">Find your Perfect Job</h2>
                <h4 class="title">OR</h4>
                <h2 class="title">Create Your Entrepise And start recruiting</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<div style="margin:20px">
  <p-accordion>
      <p-accordionTab header="Profiles" [selected]="true">
          <div class="container text-center" *ngIf="candidates">   
            <input type="search" pInputText placeholder="Search by Name" style="margin :10px;" [(ngModel)]="nameC"  class="form-control"  (keyup)="searchCandidate()"> 
          <div class="row"  *ngFor="let candidate of candidatesFilter"style="border: 1px solid #cae5fb;
          padding: 10px;
          box-shadow: 5px 10px #dfeefa;">
              <div class="col-sm-2" style="padding-bottom: 10px;">
                    <img src="assets/img/default-avatar.png" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
              </div>
              <div class="col-sm-2" style="padding-top:10px"> 
                  <p>{{candidate.nom}}</p>
              </div>
              <div class="col-sm-2" style="padding-top:10px">
                  <p>{{candidate.prenom}}</p>
              </div>
              
              <div class="col-sm-4">  
                  
                  <button class="btn btn-primary" (click)="detailCandidate(candidate.id)">Details</button>
                
              </div>
            </div>
            
      </div>  
        </p-accordionTab>
    <p-accordionTab    header="Entreprises"   >
      <div class="container text-center" *ngIf="entreprises">   
          <input type="search" pInputText placeholder="Search by Name" style="margin :10px;" [(ngModel)]="name"  class="form-control"  (keyup)="searchName()"> 
        <div class="row"  *ngFor="let entreprise of entreprisesFiltred"style="border: 1px solid #cae5fb;
        padding: 10px;
        box-shadow: 5px 10px #dfeefa;">
              <div class="col-sm-2" style="padding-bottom: 10px;">
                  <img src="assets/img/default-avatar.png" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
            </div>
            <div class="col-sm-2" style="padding-top:10px"> 
                <p>{{entreprise.name}}</p>
            </div>
            <div class="col-sm-2" style="padding-top:10px">
                <p>{{entreprise.location}}</p>
            </div>
            <div class="col-sm-2"  style="padding-top:10px">  
                <p>{{entreprise.field}}</p>
            </div>
            <div class="col-sm-4">  
                <button class="btn btn-primary" (click)="detaile(entreprise.id)">Details</button>             
            </div>
          </div>
          
    </div>  
    </p-accordionTab>
    <p-accordionTab header="Job offers">
      <div class="container text-center" *ngIf="jobs">   
        <input type="search" pInputText placeholder="Search by Name" style="margin :10px;" [(ngModel)]="jobsE"  class="form-control"  (keyup)="searchJob()"> 
      <div class="row"  *ngFor="let job of jobsFiltred"style="border: 1px solid #cae5fb;
      padding: 10px;
      box-shadow: 5px 10px #dfeefa;">
          <div class="col-sm-2" style="padding-bottom: 10px;">
                <img src="assets/img/default-avatar.png" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
          </div>
          <div class="col-sm-2" style="padding-top:10px"> 
              <p>{{job.name}}</p>
          </div>
          <div class="col-sm-2" style="padding-top:10px">
              <p>{{job.location}}</p>
          </div>
          <div class="col-sm-2"  style="padding-top:10px">  
              <p>{{job.field}}</p>
          </div>
          <div class="col-sm-4">  
            {{job.id}}
              <button class="btn btn-primary" (click)="detailJob(job.id)">Details</button> 
              <button class="btn btn-info" (click)="postuler(job)">Postuler</button>
          </div>
        </div>
        
  </div>  
    </p-accordionTab>
    <p-accordionTab header="Events">
      <div class="container text-center" *ngIf="events">   
        <input type="search" pInputText placeholder="Search by Name" style="margin :10px;" [(ngModel)]="nameE"  class="form-control"  (keyup)="searchEvent()"> 
      <div class="row"  *ngFor="let event of eventsFiltred"style="border: 1px solid #cae5fb;
      padding: 10px;
      box-shadow: 5px 10px #dfeefa;">
            <div class="col-sm-2" style="padding-bottom: 10px;">
                <img src="assets/img/default-avatar.png" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
          </div>
          <div class="col-sm-2" style="padding-top:10px"> 
              <p>{{event.name}}</p>
          </div>
          <div class="col-sm-2" style="padding-top:10px">
              <p>{{event.start_date|date}}</p>
          </div>
          <div class="col-sm-2"  style="padding-top:10px">  
              <p>{{event.end-date|date}}</p>
          </div>
          <div class="col-sm-4">  
              
              <button class="btn btn-primary" (click)="detailEvent(event.id)">Details</button>
            
          </div>
        </div>
        
  </div>  
    </p-accordionTab>

  </p-accordion>
</div>
