<div data-component="sidebar">
  <div class="sidebar">
    <ul class="list-group flex-column d-inline-block first-menu">
      <li class="list-group-item pl-3 py-2">
        <a href="#">Claims</a>

        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="/admin" class="">Static</a>

          </li>

          <li class="list-group-item pl-4">
            <a href="/adminClaims">All claims</a>

          </li>
        </ul> <!-- /.submenu -->
      </li> <!-- /.list-group-item -->

      <li class="list-group-item pl-3 py-2">
        <a href="#"><i class="fa fa-user-o" aria-hidden="true"><span
                class="ml-2 align-middle">Content</span></i></a>
        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" class="">Posts</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Posts</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Categories</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Tags</a>
              </li>
            </ul>
          </li> <!-- end Posts -->

          <li class="list-group-item pl-4">
            <a href="#" class="">Blog Assist</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Add New Blog Post</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Feed Sources</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Feed Source</a>
              </li>
            </ul>
          </li> <!-- end Blog Assist -->


          <li class="list-group-item pl-4">
            <a href="#" class="">Pages</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:166px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Pages</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
            </ul>
          </li> <!-- end Pages -->


          <li class="list-group-item pl-4">
            <a href="#" class="">Area Content</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:220px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Cities</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New City</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">All Neighborhoods</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Neighborhood</a>
              </li>
            </ul>
          </li> <!-- end Area Content -->


          <li class="list-group-item pl-4">
            <a href="#" class="">Manual Listings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:272px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">View All Listings</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Listing</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Status</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Locations</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Property Types</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Import Listing</a>
              </li>
            </ul>
          </li> <!-- end Manual Listings -->

          <li class="list-group-item pl-4">
            <a href="#" class="">Testimonials</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:323px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">View All</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Categories</a>
              </li>
            </ul>
          </li> <!-- end Testimonials -->

          <li class="list-group-item pl-4">
            <a href="#" class="">Team Members</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:377px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Members</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Member</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Designations</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Specialties</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Areas</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">All Locations</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Location</a>
              </li>
            </ul>
          </li> <!-- end Team Members -->

        </ul> <!-- /.submenu -->
      </li> <!-- /.list-group-item -->

      <li class="list-group-item pl-3 py-2">
        <a href="#">
          <i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Engagement</span></i>
        </a>
        <ul class="list-group flex-column d-inline-block submenu">

          <li class="list-group-item pl-4">
            <a href="#" class="">Comments</a>
            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">Comments</a>
              </li>
            </ul>
          </li>

          <li class="list-group-item pl-4">
            <a href="#" class="">Forms</a>
            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Forms</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">New Form</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">All Entries</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Gravity Forms</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Import/Export</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Gravity Forms Tutorials</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Home Valuation</a>
            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:166px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">View All Leads</a>
              </li>
            </ul>
          </li>
        </ul> <!-- /.submenu -->
      </li> <!-- /.list-group-item -->


      <li class="list-group-item pl-3 py-2">
        <a href="#"><i class="fa fa-user-o" aria-hidden="true"><span
                class="ml-2 align-middle">Image Center</span></i></a>

        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" class="">Media Library</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">Media Library</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Soliloquy Slider</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Sliders</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
            </ul>

          </li>
        </ul>
      </li>

      <li class="list-group-item pl-3 py-2">
        <a href="#"><i class="fa fa-user-o" aria-hidden="true"><span
                class="ml-2 align-middle">Settings</span></i></a>
        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" class="">Users</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Users</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Your Profile</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">AgentFire Settings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Home Valuation</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Testimonials</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Team Members</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Area Content</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Manual Listings</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Grids Settings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:166px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Ess. Grid Search Settings</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Ess. Grid Global Settings</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Plugin Settings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:220px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Soliloquy</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Flickr - Pick a Picture</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Google Analytics</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Google Maps</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">JackBox</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Media</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">No Page Comment</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Post Types Order</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Shortcode any widget</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">WP RSS Images</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">SNAP</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">WP Sitemap Page</a>
              </li>
            </ul>


          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">WordPress Settings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:272px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">General</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Discussion</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Reading</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Re-Order</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:323px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Posts</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Pages</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Media Library</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Blog Assist</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Area Content</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Manual Listings</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Testimonials</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Team Members</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Flyouts</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Site Appearance</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:377px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Widgets</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Menus</a>
              </li>
            </ul>

          </li>
        </ul>

      </li>

      <li class="list-group-item pl-3 py-2">
        <a href="#"><i class="fa fa-user-o" aria-hidden="true"><span
                class="ml-2 align-middle">Support</span></i></a>
        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" class="">Training</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">Video Tutorials</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Tutorials</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Help Desk</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Ask a Question</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:166px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Send Support Request</a>
              </li>
            </ul>

          </li>
        </ul>

      </li>


    </ul> <!-- /.first-menu -->
  </div> <!-- /.sidebar -->
</div>

<div data-component="sidebar">
  <div class="sidebar">
    <ul class="list-group flex-column d-inline-block first-menu">
      <li class="list-group-item pl-3 py-2">
        <a href="#">Claims</a>

        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="/admin" class="">Static</a>

          </li>

          <li class="list-group-item pl-4">
            <a href="/adminClaims">All claims</a>

          </li>
        </ul> <!-- /.submenu -->
      </li> <!-- /.list-group-item -->

      <li class="list-group-item pl-3 py-2">
        <a href="#"><i class="fa fa-user-o" aria-hidden="true"><span
                class="ml-2 align-middle">Content</span></i></a>
        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" class="">Posts</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Posts</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Categories</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Tags</a>
              </li>
            </ul>
          </li> <!-- end Posts -->

          <li class="list-group-item pl-4">
            <a href="#" class="">Blog Assist</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Add New Blog Post</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Feed Sources</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Feed Source</a>
              </li>
            </ul>
          </li> <!-- end Blog Assist -->


          <li class="list-group-item pl-4">
            <a href="#" class="">Pages</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:166px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Pages</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
            </ul>
          </li> <!-- end Pages -->


          <li class="list-group-item pl-4">
            <a href="#" class="">Area Content</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:220px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Cities</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New City</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">All Neighborhoods</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Neighborhood</a>
              </li>
            </ul>
          </li> <!-- end Area Content -->


          <li class="list-group-item pl-4">
            <a href="#" class="">Manual Listings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:272px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">View All Listings</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Listing</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Status</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Locations</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Property Types</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Import Listing</a>
              </li>
            </ul>
          </li> <!-- end Manual Listings -->

          <li class="list-group-item pl-4">
            <a href="#" class="">Testimonials</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:323px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">View All</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Categories</a>
              </li>
            </ul>
          </li> <!-- end Testimonials -->

          <li class="list-group-item pl-4">
            <a href="#" class="">Team Members</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:377px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Members</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Member</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Designations</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Specialties</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Areas</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">All Locations</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New Location</a>
              </li>
            </ul>
          </li> <!-- end Team Members -->

        </ul> <!-- /.submenu -->
      </li> <!-- /.list-group-item -->

      <li class="list-group-item pl-3 py-2">
        <a href="#">
          <i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Engagement</span></i>
        </a>
        <ul class="list-group flex-column d-inline-block submenu">

          <li class="list-group-item pl-4">
            <a href="#" class="">Comments</a>
            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">Comments</a>
              </li>
            </ul>
          </li>

          <li class="list-group-item pl-4">
            <a href="#" class="">Forms</a>
            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Forms</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">New Form</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">All Entries</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Gravity Forms</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Import/Export</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Gravity Forms Tutorials</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Home Valuation</a>
            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:166px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">View All Leads</a>
              </li>
            </ul>
          </li>
        </ul> <!-- /.submenu -->
      </li> <!-- /.list-group-item -->


      <li class="list-group-item pl-3 py-2">
        <a href="#"><i class="fa fa-user-o" aria-hidden="true"><span
                class="ml-2 align-middle">Image Center</span></i></a>

        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" class="">Media Library</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">Media Library</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Soliloquy Slider</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Sliders</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
            </ul>

          </li>
        </ul>
      </li>

      <li class="list-group-item pl-3 py-2">
        <a href="#"><i class="fa fa-user-o" aria-hidden="true"><span
                class="ml-2 align-middle">Settings</span></i></a>
        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" class="">Users</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">All Users</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Add New</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Your Profile</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">AgentFire Settings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Home Valuation</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Testimonials</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Team Members</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Area Content</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Manual Listings</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Grids Settings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:166px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Ess. Grid Search Settings</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Ess. Grid Global Settings</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Plugin Settings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:220px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Soliloquy</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Flickr - Pick a Picture</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Google Analytics</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Google Maps</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">JackBox</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Media</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">No Page Comment</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Post Types Order</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Shortcode any widget</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">WP RSS Images</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">SNAP</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">WP Sitemap Page</a>
              </li>
            </ul>


          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">WordPress Settings</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:272px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">General</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Discussion</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Reading</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Re-Order</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:323px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Posts</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Pages</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Media Library</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Blog Assist</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Area Content</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Manual Listings</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Testimonials</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Team Members</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Flyouts</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Site Appearance</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:377px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Widgets</a>
              </li>
              <li class="list-group-item pl-4">
                <a href="#">Menus</a>
              </li>
            </ul>

          </li>
        </ul>

      </li>

      <li class="list-group-item pl-3 py-2">
        <a href="#"><i class="fa fa-user-o" aria-hidden="true"><span
                class="ml-2 align-middle">Support</span></i></a>
        <ul class="list-group flex-column d-inline-block submenu">
          <li class="list-group-item pl-4">
            <a href="#" class="">Training</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow"></span>
              <li class="list-group-item pl-4">
                <a href="#">Video Tutorials</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Tutorials</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:114px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Help Desk</a>
              </li>
            </ul>

          </li>
          <li class="list-group-item pl-4">
            <a href="#" class="">Ask a Question</a>

            <ul class="list-group flex-column d-inline-block sub-submenu">
              <span class="arrow" style="top:166px;"></span>
              <li class="list-group-item pl-4">
                <a href="#">Send Support Request</a>
              </li>
            </ul>

          </li>
        </ul>

      </li>


    </ul> <!-- /.first-menu -->
  </div> <!-- /.sidebar -->
</div>


<div class="wrapper">

  <div class="section">
    <div class="container">
      <div *ngIf="new">
        <div *ngFor="let claim of claims">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">{{claim.subject}}</h2>

              <h5 class="text-left"><b>Message:</b> {{claim.message}}</h5>

              <h5 *ngIf="claim.replay" class="text-left" style="padding-left: 30px"><b>Admin
                Replay:</b> {{claim.replay.message}} </h5>

              <h5 class="text-left"><b>Type:</b> {{claim.type}} </h5>
              <h5 class="text-left"><b>By:</b> {{claim.user.nom}} {{claim.user.prenom}} </h5>


              <button (click)="replayForm(claim.id)" class="btn btn-primary btn-round btn-lg"><i
                      class="fa fa-edit"></i> Replay to Claim
              </button>




            </div>


          </div>
          <div class="separator separator-primary"></div>
        </div>
      </div>

      <div *ngIf="form" class="container text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Replay to Claim {{idClaim}}</h2>
          </div>
        </div>
        <form [formGroup]="claimform">

          <div class="row">
            <div class="col-sm-3">
              <p class="category">Replay:</p>
            </div>
            <div class="col-sm-4">

              <input type="text" value=""
                     formControlName="message" class="form-control"/>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-7">

            </div>
            <div class="col-sm-1">
              <button class="btn btn-success" (click)="creatReplay()">Validate</button>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-danger" (click)="Claims()">Cancel</button>
            </div>
          </div>
        </form>
      </div>



    </div>
  </div>


</div>





