<body style="background-size: contain; background-repeat: no-repeat;
      background-position: center ">
<br>
<div align="center" class="modal-dialog" ><h1>Edit Question</h1></div>
<div align="center" [formGroup]="questionForm">
  <label for="question"><span style="font-size: 20px; font-weight: bold; "> Questions :</span></label>
  <input style="background-color: whitesmoke" class="form-control col-lg-10" width="20" type="text" id="question" formControlName="question">
  <div formArrayName="answers">
    <br>
    <br>
    <h3 style="font-size: 20px; font-weight: bold;">Answers :</h3>

    <div class="form-group col-11 col-lg-offset-1" *ngFor="let a of getAnswers().controls; let i = index">
     <table align="center"> <tr>
       <td><label>
         <input style="background-color: whitesmoke" class="form-control" type="text" [formControlName]="i">
       </label></td>
      <td align="left"><button type="button" class="btn btn-danger btn-sm" (click)="removeAnswer(i)"> <i class="now-ui-icons ui-1_simple-delete"></i></button></td>
      </tr></table>
    </div>
    <button type="button" class="btn btn-primary btn-simple" (click)="addAnswer()">Add answer</button>
  </div>
  <br>
  <div>
    <label for="correctAnswer"><span style="font-size: 20px; font-weight: bold; "> Correct answer:</span></label>
    <div class="col-lg-5">
      <input style="background-color: whitesmoke" class="form-control" type="number" id="correctAnswer" formControlName="correctAnswer">
    </div>
  </div>
  <br>
  <br>
  <div>
    <button type="button" class="btn btn-lg btn-round" style="background-color: #0c1131" (click)="submit() " [disabled]="!questionForm.valid">Save</button>
  </div>
</div>
<br>
<ngb-alert type="success" *ngIf="added"  [dismissible]="false">This question is successfully edited.</ngb-alert>
</body>
