



<div class="container" style="margin-left:200px">
<div class="col-md-10 ml-auto col-xl-10 mr-auto card col-md-offset-2" align="center" style="height: 800px;">



      <div class="content-center" align="center">
        <div class="col-lg-offset-2 col-lg-10" align="center">
          <div *ngIf="!start" align="center" style="padding-top: 50px">
            <br>
            <h1>Press ready To start the Test</h1>
            <button  class="btn btn-lg btn-primary" style="margin-top: 80px" (click)="notpret()">Back to Home</button>
            <button  class="btn btn-lg btn-success" style="margin-top: 80px" (click)="pret()">Ready</button>
          </div>

          <div *ngIf="start">
            <div  style=" -webkit-text-fill-color: black; margin-top: 80px">

           <h6>{{question.question}}<br></h6>
<form class="form">
      <div class="inputGroup" *ngFor="let a of question.answers;let i=index">


              <input (change)="radioValue(i)" [id]="i" type="radio" name="answer" [value]="i"/>

        <label [for]="i">   {{a}} </label>
      </div>
</form>



          </div>
          <button [disabled]="choiceValue==-1" *ngIf="start" class="btn btn-success btn-round" (click)="choice()">Validate</button><br>

          <p *ngIf="start">{{timeLeft}} Seconds Left...</p>
          </div>
        </div>


      </div>
    </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

