<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
             style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">

                <h3 class="title">Claims</h3>

                <div class="content">
                    <div class="social-description">
                        <h2>{{nbrClaims}}</h2>
                        <p>Claims</p>
                    </div>
                    <div class="social-description">
                        <h2>{{nbrReplays}}</h2>
                        <p>Admin Replays</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <button *ngIf="new" (click)="newClaim()" class="btn btn-primary btn-round btn-lg"><i
                    class="fa fa-plus"></i> Add Claim
            </button>
                <button *ngIf="form || editform" (click)="Claims()" class="btn btn-primary btn-round btn-lg"><i
                        class="fa fa-plus"></i> Claims
                </button>
                <button *ngIf="! myclaims" (click)="Claims()" class="btn btn-primary btn-round btn-lg"><i
                        class="fa fa-plus"></i> Claims
                </button>
                <button *ngIf="myclaims" (click)="myClaims()" class="btn btn-primary btn-round btn-lg"><i class="fa fa-user"></i> My Claims</button>
                <a href="#button" class="btn btn-primary btn-round btn-lg"><i class="fa fa-dollar"></i> Claims
                    Staics</a>


            </div>
            <div *ngIf="new">
                <div *ngFor="let claim of claims">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">{{claim.subject}}</h2>

                                <h5 class="text-left"><b>Message:</b> {{claim.message}}</h5>

                            <h5 *ngIf="claim.replay" class="text-left" style="padding-left: 30px"><b>Admin
                                Replay:</b> {{claim.replay.message}} </h5>

                            <h5 class="text-left"><b>Type:</b> {{claim.type}} </h5>
                            <h5 class="text-left"><b>By:</b> {{claim.user.nom}} {{claim.user.prenom}} </h5>


                                <button *ngIf="editDelete" (click)="editForm(claim)" class="btn btn-primary btn-round btn-lg"><i
                                        class="fa fa-edit"></i> Edit Claim
                                </button>
                                <button *ngIf="editDelete" (click)="deleteClaims(claim)" class="btn btn-primary btn-round btn-lg"><i
                                        class="fa fa-trash"></i> Delete Claims
                                </button>




                        </div>


                    </div>
                    <div class="separator separator-primary"></div>
                </div>
            </div>

            <div *ngIf="form" class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Add Claim</h2>
                    </div>
                </div>
                <form [formGroup]="claimform">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="category">Subject:</p>
                        </div>
                        <div class="col-sm-4">

                            <input type="text" value=""  class="form-control"
                                   formControlName="subject"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="category">Message:</p>
                        </div>
                        <div class="col-sm-4">

                            <input type="text" value=""
                                   formControlName="message" class="form-control"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="category">Type:</p>
                        </div>
                        <div class="col-sm-4">

                            <select formControlName="type" class="form-control">
                            <option value="BUG">Bug</option>
                            <option value="INTERVIEW">Interview</option>
                            <option value="SOCIAL_CLAIM">Social Claim</option>
                            </select>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-7">

                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-success" (click)="creatClaim()">Validate</button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-danger" (click)="Claims()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="editform" class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Edit Claim</h2>
                    </div>
                </div>
                <form [formGroup]="claimform">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="category">Subject:</p>
                        </div>
                        <div class="col-sm-4">

                            <input type="text" value="{{subject}}"  class="form-control"
                                   formControlName="subject"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="category">Message:</p>
                        </div>
                        <div class="col-sm-4">

                            <input type="text" value="{{message}}" placeholder="Years Of experience required"
                                   formControlName="message" class="form-control"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="category">Type:</p>
                        </div>
                        <div class="col-sm-4">

                            <input type="text" value="{{type}}" placeholder="Minimum Salary" formControlName="type"
                                   class="form-control"/>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-7">

                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-success" (click)="editClaim(id)">Validate</button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-danger" (click)="myClaims()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>

  
  
