<style>
  body {
    font-family: "Lato", sans-serif;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar button {
    padding: 8px 8px 8px 32px;

    display: block;
    transition: 0.3s;
    background-color: transparent;
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
</style>


<div id="mySidebar" class="sidebar" style="margin-top:50px;">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>

  <button  (click)="onPost()">Gestion des posts</button>
  <button (click)="onStats()">Statistiques</button>
  <button (click)="onChat()">Gestion Chat</button>


</div>

<div id="main">
  <br><br>
  <button class="openbtn" (click)="openNav()">☰ </button>
  <div  style="margin-top:100px">
    <div *ngIf="posts">
      <app-gestion-post-admin> </app-gestion-post-admin>
    </div>
    <div *ngIf="statistiques">
      <app-statistic-post-admin></app-statistic-post-admin>
    </div>
    <div *ngIf=chats>
      <app-gestion-chat-admin></app-gestion-chat-admin>
    </div>



  </div>
</div>
