<p-tabView>
  <p-tabPanel header="Posts" leftIcon="pi pi-list" >
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="text">
        <mat-header-cell  *matHeaderCellDef> Post Content </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.text}} </mat-cell>
      </ng-container>

      <!-- Name Column -->


      <!-- Weight Column -->
      <ng-container matColumnDef="user_name">
        <mat-header-cell *matHeaderCellDef> Post owner  name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.user.prenom}} {{element.user.nom}}</mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.created_at}} <p>  </p>  <button class="btn" (click)="onDelete(element.id)">Delete</button></mat-cell>

      </ng-container>
     <!-- </div> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </p-tabPanel>
  <p-tabPanel header="Comments" leftIcon="pi pi-comment">
    <app-gestion-commentaires-admin></app-gestion-commentaires-admin>
     </p-tabPanel>
  <p-tabPanel header="Replies" leftIcon="pi pi-comments" rightIcon="pi pi-star">
         <app-gestion-replies-admin></app-gestion-replies-admin>
     </p-tabPanel>
</p-tabView>




