
<style type="text/css">


  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
  }

  .container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
  }

  .people-list {
    width: 260px;
    float: left;
  }

  .people-list .search {
    padding: 20px;
  }

  .people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }

  .people-list .fa-search {
    position: relative;
    left: -25px;
  }

  .people-list ul {
    padding: 20px;
    height: 770px;
  }

  .people-list ul li {
    padding-bottom: 20px;
  }

  .people-list img {
    float: left;
  }

  .people-list .about {
    float: left;
    margin-top: 8px;
  }

  .people-list .about {
    padding-left: 8px;
  }

  .people-list .status {
    color: #92959E;
  }

  .chat {
    width: 490px;
    float: right;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    margin-top: -868px;
    margin-right: -15px;
  }

  .chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
  }

  .chat .chat-header img {
    float: left;
  }

  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
  }

  .chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
  }

  .chat .chat-header .chat-num-messages {
    color: #92959E;
  }

  .chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
  }

  .chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
  }

  .chat .chat-history .message-data {
    margin-bottom: 15px;
  }

  .chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
  }

  .chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
  }

  .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #1e7e34;
    border-width: 10px;
    margin-left: -10px;
  }

  .chat .chat-history .my-message {
    background: #6c757d ;
  }
  .chat .chat-history .my-message-blue {
    background: #86BB71 ;
  }
  .chat .chat-history .other-message {
    background: #94C2ED;
  }

  .chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
  }

  .chat .chat-message {
    padding: 30px;
  }

  .chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
  }

  .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
  }

  .chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
  }

  .chat .chat-message button:hover {
    color: #75b1e8;
  }

  .online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }

  .online {
    color: #86BB71;
  }

  .offline {
    color: #E38968;
  }

  .me {
    color: #94C2ED;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  *.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
</style>
<link rel="stylesheet" type="text/css" href="/assets/fontello/css/fontello.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper">

    <div class="section" style="background-image: url('assets/img/background.jpg'); background-size: cover; background-position: top center; min-height: 700px;">

<div class="container clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
        <a routerLink="/homes" routerLinkActive="active"  style="margin:20px">Back to Home </a>
      <input type="text" name="discussionachercher" [(ngModel)]="discussionachercher" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <ul class="list" id="listDiscuss">

      <div *ngFor="let discuss of discussionsList "  >

        <div >

          <li class="clearfix"  style="cursor:pointer; list-style: none;">
            <div *ngIf="discuss.user1.id==idCurrentUser">
            <img src="assets/img/avatarr.jpg" (click)="clickDiscussion(discuss.id,discuss.user1,discuss.user2)" alt="avatar"  style="border-radius: 100px; border: 2.5px solid grey;" height="60"/>
            </div>
            <div *ngIf="discuss.user1.id!=idCurrentUser">
              <img src="assets/img/avatarr.jpg" (click)="clickDiscussion(discuss.id,discuss.user1,discuss.user2)" alt="avr"  style="border-radius: 100px; border: 2.5px solid grey;" height="60"/>

            </div>
              <div class="about">
              <div *ngIf="discuss.user1.id==idCurrentUser">
                <div class="name"><strong>{{discuss.user2.nom}} {{discuss.user2.prenom}}</strong></div>
              </div>
              <div *ngIf="discuss.user1.id!=idCurrentUser">
                <div class="name"><strong>{{discuss.user1.nom}} {{discuss.user1.prenom}}</strong></div>
              </div>
              <div class="status">
                <i class="fa fa-circle online"></i>
              </div>
            </div>
          </li>
        </div>

      </div>
    </ul>
  </div>

  <div class="chat">
    <div *ngIf="selected==true" class="chat-header clearfix">
      <img  id="img" src="assets/img/avatarr.jpg" style="border: 2.5px solid #2ECC71; border-radius: 100px;" alt="avatar" height="55" width="55" />

      <div class="chat-about">
        <div class="chat-with" id="name">{{ destinator.nom }} {{ destinator.prenom }}</div>
        <div class="chat-num-messages" id="nbMsgs">{{nbMessages}}</div>

      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->
    <div *ngIf="selected==false" class="chat-header clearfix">
      <img id="img" src="https://www.payingit-international.com/wp-content/themes/payingit/img/no-ava.png" style="border: 2.5px solid #2ECC71; border-radius: 100px;" alt="avatar" height="55" width="55" />

      <div class="chat-about">
        <div class="chat-with" id="namee">Loading...</div>
        <div class="chat-num-messages" id="nbMsgss">Loading...</div>

      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->

    <div class="chat-history" id="discussion" #discussion style="overflow: scroll;">
      <ul>
        Click on one discussion
      </ul>

    </div> <!-- end chat-history -->
<form>
    <div class="chat-message clearfix">
      <textarea  name="message-to-send" id="msgBody" placeholder="Type your message" rows="3"></textarea>

      &nbsp;&nbsp;&nbsp;
      <div class="upload-btn-wrapper">
        <i class="fa fa-file-image-o"></i>
        <button class="btn"></button>
        <input  type="file" id="pathimg" name="myfile" accept="image/*" />
      </div>







      <button id="sendBtn" (click)="sendMsg()">Send</button>


    </div> <!-- end chat-message -->
</form >
  </div> <!-- end chat -->

</div> <!-- end container -->
</div>
</div>
<div  style="display:none" id="myMsg">
  <li class="clearfix" id="myMsgLi" style="list-style: none;">
    <div class="message-data align-right">
      <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
      <span class="message-data-name">Me</span> <i class="fa fa-circle me"></i>

    </div>
    <div class="message other-message float-right">

      replaceMsg
    </div>

  </li>
</div>

<div  style="display:none" id="audioMsg">
  <li class="clearfix" id="myMsgLi" style="list-style: none;">
    <div class="message-data align-right">
      <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
      <span class="message-data-name">Me</span> <i class="fa fa-circle me"></i>

    </div>
    <div class="message other-message float-right">
      <audio controls="">
        <source [src]="sanitize(url)" type="audio/wav">
      </audio>
    </div>

  </li>
</div>

<div style="display:none" id="otherMsg">
  <li style="list-style: none;">
    <span class="message-data-time"><strong>Seen: </strong> replaceSeen</span>
    <div class="message-data">

      <span class="message-data-name"><i class="fa fa-circle online"></i> replaceName</span>
      <span class="message-data-time">replaceDate</span>
    </div>

    <div class='replaceStyle' >
      replaceMsg
    </div>


  </li>
</div>



<div  style="display:none" id="discussionElement">
  <li class="clearfix" id="liId"  style="cursor:pointer; list-style: none;">
    <img src="pathReplace" alt="avatar"  style="border-radius: 100px; border: 2.5px solid grey;" height="60"/>
    <div class="about">
      <div class="name">NameReplace</div>
      <div class="status">
        <i class="fa fa-circle online"></i>lastMsgReplace
      </div>
    </div>
  </li>
</div>

<div style="display:none" id="discussionElementNotif">
  <li id="liId2" class="clearfix"   style="cursor:pointer; list-style: none">
    <img src="pathReplace"  alt="avatar" style="border-radius: 100px; border: 2.5px solid #2ECC71;" height="60" />
    <div class="about">
      <div class="name"><b>NameReplace</b></div>
      <div class="status">
        <i class="fa fa-circle online"></i><b>lastMsgReplace</b>
      </div>
    </div>
  </li>
</div>


<input hidden id="idconnected" value="">
<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time">, Today</span> &nbsp; &nbsp;
      <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">

    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time"> , Today</span>
    </div>
    <div class="message my-message">

    </div>
  </li>
</script>

