<div class="wrapper" >
  <div class="page-header page-header-small" filter-color="orange">
    <div class="section section-signup" style="background-image: url('assets/img/background.jpg'); background-size: cover; background-position: top center; min-height: 700px;">

      <div class="container login-page">
        <div class="row">
          <div class="col-md-4 content-center ml-auto mr-auto">
            <div class="card card-login card-plain">
              <form class="form" [formGroup]="addPostForm" method="" action="">
                <div class="header header-primary text-center">
                  <div class="logo-container">
                    <img src="assets/img/now-logo.png" alt="">
                  </div>
                </div>
                <div class="content">
                  <div class="input-group form-group-no-border input-lg"   [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                    </div>
                    <textarea type="text" class="form-control" (ngModel)="text" formControlName="text"  placeholder="Post Content"  ></textarea>
                  </div>
                  <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <img [src]="url" height="200" *ngIf="url"> <br/><br/>
                    <select name="cars" size="1" (ngModel)="categorie" formControlName="categorie"  class="form-control">
                      <option selected="selected"><span class="select" >Select post category</span></option>
                      <option value="Article" class="select" >Article</option>
                      <option value="Questions"class="select">Questions</option>
                      <option value="Self_Promotion"class="select">Self_Promotion</option>
                      <option value="Inspiration"class="select">Inspiration</option>
                      <option value="News"class="select">News</option>
                      <option value="Other"class="select">Other</option>
                    </select>
                  </div>
                  <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="file" name="image"  id="pathimg"  (change)="onSelectFile($event)" class="btn btn-default">
                  </div>
                </div>
                <div class="footer text-center">
                  <button type="button" type="submit" (click)="onSubmit()" class="btn btn-primary btn-round btn-lg btn-block">Update Post</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
