<nav class="navbar navbar-expand-lg  fixed-top " >
    <div class="container">
        <!-- <div class="dropdown button-dropdown">
           <div ngbDropdown>
             <a class="dropdown-toggle" ngbDropdownToggle>
                 <span class="button-bar"></span>
                 <span class="button-bar"></span>
                 <span class="button-bar"></span>
             </a>
              <div ngbDropdownMenu>
                <a class="dropdown-header">Dropdown header</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">One more separated link</a>
              </div>
            </div>
         </div>-->
        <div class="navbar-translate">

                <img src="assets/img/jobs.png" alt="logo" width="100px"/>&nbsp;

            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                 <span class="navbar-toggler-bar bar1"></span>
                 <span class="navbar-toggler-bar bar2"></span>
                 <span class="navbar-toggler-bar bar3"></span>
             </button>-->
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="blue">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">

                  <a class="nav-link" routerLink="/homes">
                    <!--   <i class="now-ui-icons arrows-1_cloud-download-93"></i> -->
                      <p>Home</p></a>

                  <!-- <a routerLink="/profile/{{idCurrentUser}}" class="nav-link"  >
                      <i class="now-ui-icons business_badge"></i>
                      <p>Profile</p>
                  </a> -->
              </li>
              <li class="nav-item">
                <a class="nav-link"  >                    
                  <div >
                    <button (click)="detaile()" style="background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;">My Profile</button>
                      
                  </div>
                </a>
            </li>
            <div *ngIf="!entreprise">
                <li class="nav-item">

                    <a class="nav-link" routerLink="/register" >                    
                      
                          <p>Create Entreprise</p>
                      
                    </a>
                  </li>
                </div>
                  <li><a  (click)="openBottomSheet()" class="nav-link">
                    <i class="now-ui-icons business_globe"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                    
               
                <li class="nav-item">
                    <a [routerLink]="['/chat']" class="nav-link"  >
                        <i class="now-ui-icons ui-1_email-85"></i>
                        <p>Messagerie</p>


                    </a>
                </li>

                <li class="nav-item" *ngIf="entrepriseExist">

                    <a class="nav-link " routerLink="/myentreprise" >           
                        <div *ngIf="entreprise">
                            <p>{{entreprise.name}}</p>
                        </div>
  
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/authentication">                    
                          <p>logout</p>

                    </a>
                </li>
                <!--                <li class="nav-item">
                                  <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                                    <i class="fab fa-facebook-square"></i>
                                    <p class="d-lg-none d-xl-none">Facebook</p>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                    <p class="d-lg-none d-xl-none">Instagram</p>
                                  </a>
                                </li>-->
            </ul>
        </div>
    </div>
 
</nav>
