<p-tabView>
  <p-tabPanel header="Messages" leftIcon="pi pi-envelope" >
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container  matColumnDef="messageContent">
        <mat-header-cell *matHeaderCellDef> Post Content </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.messageContent}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="senderId">
        <mat-header-cell *matHeaderCellDef> Post owner  name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.senderId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element.created_at}} <p>  </p>  <button class="btn" (click)="onDelete(element.id)">Delete</button></mat-cell>
      </ng-container>
      <!-- </div> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </p-tabPanel>

</p-tabView>
