<div class="container text-center" *ngIf="entreprise">    
    <div class="row" *ngFor="let emp of entreprise.employe" >
          <div class="col-sm-2" style="padding-bottom: 10px;">
              <img src="assets/img/default-avatar.png" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
        </div>
        <div class="col-sm-2" style="padding-top:10px"> 
            <p>{{emp.nom}}</p>
        </div>
        <div class="col-sm-2" style="padding-top:10px">
            <p>{{emp.email}}</p>
        </div>
        <div class="col-sm-2"  style="padding-top:10px">  
            <p>{{emp.role}}</p>
        </div>
        <div class="col-sm-4">  
            <button class="btn btn-info">Send Message</button>
            <button class="btn btn-success">Profile</button>
          <!--   <button class="btn btn-danger">Ban</button> -->
        </div>
      </div>
      
</div>
