<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image " data-rellax-speed="-8"
             style="background-image:
        url('assets/img/bg6.jpg') ;

        background-position: center;
        filter: none !important;">
        </div>
    </div>
</div>
<body>
<br>
<ngb-alert type="danger" *ngIf="errorDel" [dismissible]="false">This question is already used, you cannot delete it.</ngb-alert>
<ngb-alert *ngIf="error" type="danger"  [dismissible]="false" >Oops! something went wrong, wait a moment and try again</ngb-alert>
<div class="container">
<div>
        <ul>
                <li class="nav-item" >
                  <a class="nav-link " routerLink="/myentreprise" >           
                     <p>Back to entreprise Dashbord</p>
                  </a>
                </li>
                </ul>
 <span style="font-size: 25px;font-weight: bold">  Skill:</span>&nbsp;  <select ngbPopover="Select skill to show questions"
            [openDelay]="1000" [closeDelay]="500" triggers="mouseenter:mouseleave"
            [value]="id" class="custom-select" style="width: 50%" id="skill" formControlName="skill" (change)="getId($event.target.value)">
        <option  *ngFor="let s of skills" value="{{s.id}}">{{s.skill}}</option>
    </select>
    <button class="btn btn-lg btn-round"  style="float: right; background-color: #0c1131;"  ngbPopover="Add new question"
            [openDelay]="1000" [closeDelay]="500" triggers="mouseenter:mouseleave" (click)="openAdd()">Add a Question</button>
</div>
    <br>
<span class="badge badge-info">{{ size }} result(s) found</span><br>
    <div id="wrapper">
    <div id="first"  align="center">
        <table *ngIf="size>0" class="table-bordered">
            <tr>
                <td>Question</td>
                <td>Delete</td>
                <td>Update</td>
                <td>Details</td>
            </tr>
            <tr *ngFor="let q of Questions | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

                <td width="200">
                    <label ><span style="font-size: 20px; font-weight: bold; ">{{_string(q.question)}}</span></label></td>
                <td><button class="btn btn-danger btn-round" (click)="deleteQuestion(q.id)"
                            ngbPopover="Delete question"
                            [openDelay]="1000" [closeDelay]="500" triggers="mouseenter:mouseleave"> <i class="now-ui-icons ui-1_simple-delete"></i></button>
                </td>
                 <td>   <button class="btn btn-info btn-round" (click)="openEdit(q.id)"
                            ngbPopover="Edit question"
                            [openDelay]="1000" [closeDelay]="500" triggers="mouseenter:mouseleave"> <i class="now-ui-icons design-2_ruler-pencil"></i></button>
                 </td>
                 <td>   <button class="btn btn-default btn-round" (click)="display(q)" (click)="open(content)"
                            ngbPopover="Details of this question"
                            [openDelay]="1000" [closeDelay]="500" triggers="mouseenter:mouseleave"> <i class="now-ui-icons files_paper"></i></button>
                </td>
            </tr>
        </table>
         <ngb-pagination *ngIf="size>0"
                 class="d-flex justify-content-center"
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="size"></ngb-pagination>

        </div>

    <!--<div id="second" *ngIf="details">
        <p><span class="badge badge-neutral">Question details</span></p>
        <p>question: {{question}}</p>
        answers:
        <ul>
            <li *ngFor="let a of answers">{{a}}</li>
        </ul>
        <p>correct answer: {{correctAnswer}}</p>
    </div>!-->
    </div>

    </div>
</body>
<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Question details</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="second" *ngIf="details">
            <p><span style="font-size: 20px; font-weight: bold; "> Question:</span> {{question}}</p>
            <span style="font-size: 20px; font-weight: bold; "> Answers:</span>
            <ul>
                <li *ngFor="let a of answers">{{a}}</li>
            </ul>
            <p><span style="font-size: 20px; font-weight: bold; "> Correct answer:</span> {{correctAnswer}}</p>
        </div>
    </div>
</ng-template>
