<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">This is our great company.</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>

    <p-tabView>
        <p-tabPanel header="Posts" leftIcon="pi pi-list" >
            <div class="section">
                <div class="container">

                    <p-toast [style]="{marginTop: '80px'}" position="top-left" ></p-toast>
                    <flash-messages></flash-messages>
                    <p-confirmDialog [style]="{width: '50vw'}" ></p-confirmDialog>

                    <mat-form-field>
                        <mat-label>Categorie</mat-label>
                        <select matNativeControl required (change)="onCategorie($event.target.value)">
                            <option value="Default">Default</option>
                            <option value="Article">Article</option>
                            <option value="Tips">Tips</option>
                            <option value="Questions">Questions</option>
                            <option value="Self_Promotion">Self_Promotion</option>
                            <option value="News">News</option>
                            <option value="Other">Other</option>

                        </select>
                    </mat-form-field>

                    <div *ngFor="let post of userPosts; let index = index ;let like ">


                        <p-card [header]="post.type" [subheader]="post.created_at" [style]="{width: '720px'}" styleClass="ui-card-shadow" style="position: center">



                            <p-header>
                                <div *ngIf="post.user.id==idCurrentUser">
                                    <button style="margin-left: 680px" mat-icon-button p [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" style="position: center"  >
                                        <button (click)="onDelete(post)" mat-menu-item>
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                        <button (click)="onUpdate(post.id)"mat-menu-item >
                                            <mat-icon>update</mat-icon>
                                            <span>Update</span>
                                        </button>
                                    </mat-menu>
                                </div>

                                <img src="Card" src="assets/img/{{post.photo_path}}">
                                <p-messages [value]="msgs"></p-messages>
                            </p-header>

                                <img mat-card-avatar src="assets/img/{{post.user.image}}" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
                            <mat-card-title><a routerLink="/profile/{{post.user.id}}"> {{post.user.prenom}} {{post.user.nom}} </a></mat-card-title><br>



                            <div>{{post.text}}</div>
                            <p-footer>

                                <button pButton type="button" label="Like" (click)="onCheckUserLikeAndAdd(post.id)" style="margin-right: .25em"></button>
                                <button pButton type="button" label="Dislike" (click)="onCheckUserDislikeAndAdd(post.id)" class="ui-button-danger"></button>
                                <button type="button" (click)="show(post.id)" pButton icon="pi pi-info-circle" label="Show likes/dislikes"></button>
                                <button pButton type="button" label="Show Comments " (click)="onShowComment(index)" class="ui-button-secondary"></button>


                                <div *ngIf="visibleIndex === index">
                                    <div *ngFor="let comment of post.comments; let indexx = index" >

                                        <mat-card class="example-card">

                                            <mat-card-header>
                                                <div *ngIf="comment.user.id==idCurrentUser || post.user.id==idCurrentUser ">
                                                    <button style="margin-left: 400px" mat-icon-button p [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                        <mat-icon>more_vert</mat-icon>
                                                    </button>
                                                    <mat-menu #menu="matMenu" style="position: center"  >
                                                        <button (click)="onDeleteComment(post.comments,comment)" mat-menu-item>
                                                            <mat-icon>delete</mat-icon>
                                                            <span>Delete</span>
                                                        </button>
                                                    </mat-menu>
                                                </div>
                                                <img mat-card-avatar src="assets/img/{{comment.user.image}}" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
                                                <mat-card-title><a routerLink="/profile/{{comment.user.id}}">{{comment.user.prenom}} {{comment.user.nom}}</a> </mat-card-title>
                                                <mat-card-subtitle>{{comment.created_at}}</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <p>
                                                    {{comment.commentContent}}
                                                </p>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <button type="button" (click)="onShowReplyForm(indexx)" class="btn btn-default" placement="right"
                                                        ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on left">
                                                    Show reply
                                                </button>
                                                <div *ngIf="visibleIndex2 === indexx">

                                                    <div *ngFor="let reply of comment.replies ;let indexxx = index">

                                                        <mat-card class="example-card">
                                                            <mat-card-header>
                                                                <div *ngIf="reply.user.id==idCurrentUser || post.user.id==idCurrentUser ">
                                                                    <button style="margin-left: 400px" mat-icon-button p [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                                                        <mat-icon>more_vert</mat-icon>
                                                                    </button>
                                                                    <mat-menu #menu="matMenu" style="position: center"  >
                                                                        <button (click)="onDeleteReply(comment.replies,reply)" mat-menu-item>
                                                                            <mat-icon>delete</mat-icon>
                                                                            <span>Delete</span>
                                                                        </button>
                                                                    </mat-menu>
                                                                </div>
                                                                <img mat-card-avatar src="assets/img/{{reply.user.image}}"  class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
                                                                <mat-card-title><a routerLink="/profile/{{reply.user.id}}">{{reply.user.prenom}} {{reply.user.nom}}</a> </mat-card-title>
                                                                <mat-card-subtitle>{{reply.created_at}}</mat-card-subtitle>
                                                            </mat-card-header>
                                                            <mat-card-content>
                                                                <p>
                                                                    {{reply.replyContent}}
                                                                </p>
                                                            </mat-card-content>

                                                        </mat-card>
                                                    </div>

                                                    <form [formGroup]="addReplyForm"  class="Reply-form">
                                                        <mat-form-field class="example-full-width">
                                                            <textarea matInput (ngModel)="replyContent" rows="3" cols="30"  formControlName="replyContent" placeholder="Leave a reply" pInputTextarea autoResize="autoResize"></textarea>
                                                        </mat-form-field>
                                                        <button type="button" type="submit" (click)="onAddReply(comment)" class="btn btn-primary">Reply</button>
                                                    </form>
                                                </div>

                                            </mat-card-actions>
                                        </mat-card>

                                    </div>
                                    <form [formGroup]="addCommentForm" class="Comment-form">
                                        <textarea (ngModel)="commentContent" rows="3" cols="30" formControlName="commentContent" placeholder="Leave a comment" pInputTextarea autoResize="autoResize" class="form-control form-control-danger" required></textarea>
                                        <button type="button" type="submit" (click)="onAddComment(post)" class="btn btn-primary">Comment</button>
                                    </form>
                                </div>

                            </p-footer>
                        </p-card>
                    </div>

                </div>
            </div>

        </p-tabPanel>
        <p-tabPanel header="Most popular posts" leftIcon="pi pi-comment">
            <app-landing-popular-posts></app-landing-popular-posts>
        </p-tabPanel>

    </p-tabView>

    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
