

     
      <app-navbar></app-navbar>
     <div class="wrapper" *ngIf="even">
            <div class="page-header page-header-small">
                <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg7.jpg');">
                </div>
                <div class="container">
                    <div class="content-center">
                        <h1 class="title">{{even.name}}</h1>
                        <div class="text-center">
                          <h5 class="title">{{even.start_date|date}} </h5>
                          <h5 class="title">{{even.location}}</h5>
                          <div *ngIf="weather" >
                                {{weather.current.temperature}}
                                {{weather.current.weather_descriptions[0]}}
                         <img src="{{weather.current.weather_icons[0]}}" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
                        </div>
                        <div *ngIf="particip==false">
                                <button class="btn btn-primary" (click)="participate()">Participate</button>
                                <p style="font-size:25px">
                                        {{size}}
                                </p>
                        </div>
                        <div *ngIf="particip==true">
                                <button class="btn btn-primary" (click)="participate()">Remove Participation</button>
                                <p style="font-size:25px">
                                {{size}}
                                </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    
    <div *ngIf="even">
        
  
    
     <p-dataView #dv [value]="comments" [paginator]="true" [rows]="2" paginatorPosition="both" filterBy="nom"
    [sortField]="sortField" [sortOrder]="sortOrder" [lazy]="true" (onLazyLoad)="loadComments($event)" [totalRecords]="totalRecords"> 
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-comment pTemplate="listItem">
        <div class="ui-g-12">
            <div class="car-details">
                <div>
                   
                    <div class="ui-g">
                        <div class="ui-g-12">First Name: <b>{{comment.nom}}</b></div>
                        <div class="ui-g-12">Last Name: <b>{{comment.prenom}}</b></div>
                        <div class="ui-g-12">email: <b>{{comment.email}}</b></div>
                     
                    </div>
                </div>
 
            </div>
        </div>
    </ng-template>
    <ng-template let-car pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
                <img src="assets/showcase/images/demo/car/zaineb.png" width="60">
                <div class="car-detail">{{comment.nom}} - {{comment.prenom}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, car)" style="margin-top:0"></button>
            </p-panel>
        </div>
    </ng-template>
    </p-dataView>

</div>


<!-- <p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '225px'}"  (onAfterHide)="onDialogHide()">
<div class="ui-g" *ngIf="selectedCar">
    <div class="ui-g-12" style="text-align:center">
        <img src="assets/showcase/images/demo/car/{{selectedCar.brand}}.png">
    </div>
    <div class="ui-g-4">Vin: </div>
    <div class="ui-g-8">{{selectedCar.vin}}</div>

    <div class="ui-g-4">Brand: </div>
    <div class="ui-g-8">{{selectedCar.brand}}</div>

    <div class="ui-g-4">Year: </div>
    <div class="ui-g-8">{{selectedCar.year}}</div>

    <div class="ui-g-4">Color: </div>
    <div class="ui-g-8">{{selectedCar.color}}</div>
</div> 
</p-dialog> -->
<!-- <p-dataView [value]="comments" layout=grid
[rows]="2" [paginator]="true" paginatorPosition="both"
[lazy]="true" (onLazyLoad)="loadComments($event)" [totalRecords]="totalRecords"
>
  
    <p-header>
        <div class="ui-g">
            <div class="ui-g-8" style="text-align: left; font-size: 25px;">
                <span>Comments</span>
            </div>
            <div class="ui-g-4" style="text-align: right;">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </p-header>


    <ng-template let-comment pTemplate="listItem">
        <div class="ui-g-4">
            <div class="ui-g">
                <div class="ui-g-3" style="text-align: center; height: 100%">
                    <img id="user-image" src="assets/images/user.png" />
                </div>
                <div class="ui-g-9">
                        <div class="ui-g-12 comment-id"><span>{{comment.id}} </span></div>
                        <div class="ui-g-12 comment-name"><span>{{comment.nom}} </span></div>
                        <div class="ui-g-12 comment-email"><span>{{comment.email}}</span> </div>
                        <div class="ui-g-12 comment-desc"><span>{{comment.prenom}}</span> </div>
                </div>
            </div>
            <hr class="ui-widget-content" style="border-top:0">
        </div>
    </ng-template>


    <ng-template let-comment pTemplate="gridItem">
            <div style="padding:3px" class="ui-g-12 ui-md-3">
                <p-panel [header]="comment.id" [style]="{'text-align':'center'}">
                    <img id="user-image" src="assets/images/user.png">
                    <div class="comment-name"><span>{{comment.nom}}</span></div>
                    <div class="comment-email"><span>{{comment.email}}</span></div>
                    <hr class="ui-widget-content" style="border-top:0">
                    <div class="comment-body"><span>{{comment.prenom}}</span></div>
                </p-panel>
            </div>
        </ng-template>
</p-dataView>
 -->