

<link href="/node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/avatar.jpg" alt="">
                </div>
                <h3 class="title">{{userPosts[0].user.prenom}} {{userPosts[0].user.nom}}</h3>
                <p class="category">{{userPosts[0].user.role}}</p>
                <!--
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Posts publiés par cet utilisateur</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>likes sur les posts de cet utilisateur</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>dislikes sur les posts de cet utilisateur</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Commentaires sur les posts de cet utilisateur</p>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
              <div *ngIf="profileId!=idCurrentUser">

                  <button (click)="onSendMessage()" class="btn btn-primary btn-round btn-lg">Envoyer un message</button>

              </div>
              <div *ngIf="profileId==idCurrentUser">
                  <button [routerLink]="['/addPost']" class="btn btn-primary btn-round btn-lg">Ajouter un post</button>
              </div>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
              </a>
          </div>
            <p-toast [style]="{marginTop: '80px'}" position="top-left" ></p-toast>
            <flash-messages></flash-messages>
            <p-confirmDialog [style]="{width: '50vw'}" ></p-confirmDialog>

            <div *ngFor="let post of userPosts; let index = index ;let like ;  ">

            <p-card [header]="post.type" [subheader]="post.created_at" [style]="{width: '720px'}" styleClass="ui-card-shadow" style="position: center">



                <p-header>
                    <div *ngIf="post.user.id==idCurrentUser">
                    <button style="margin-left: 680px" mat-icon-button p [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" style="position: center"  >
                        <button (click)="onDelete(post)" mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button (click)="onUpdate(post.id)"mat-menu-item >
                            <mat-icon>update</mat-icon>
                            <span>Update</span>
                        </button>
                    </mat-menu>
                    </div>
                    <img src="Card" src="assets/img/{{post.photo_path}}">
                    <p-messages [value]="msgs"></p-messages>
                </p-header>


                <div>{{post.text}}</div>
                <p-footer>

                    <button pButton type="button" label="Like" (click)="onCheckUserLikeAndAdd(post.id)" style="margin-right: .25em"></button>
                    <button pButton type="button" label="Dislike" (click)="onCheckUserDislikeAndAdd(post.id)" class="ui-button-danger"></button>
                    <button type="button" (click)="show(post.id)" pButton icon="pi pi-info-circle" label="Show likes/dislikes"></button>
                    <button pButton type="button" label="Show Comments " (click)="onShowComment(index)" class="ui-button-secondary"></button>


                    <div *ngIf="visibleIndex === index">
                    <div *ngFor="let comment of post.comments; let indexx = index" >

                    <mat-card class="example-card">

                        <mat-card-header>
                            <div *ngIf="comment.user.id==idCurrentUser || post.user.id==idCurrentUser ">
                            <button style="margin-left: 400px" mat-icon-button p [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" style="position: center"  >
                                <button (click)="onDeleteComment(post.comments,comment)" mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                            </div>
                            <img mat-card-avatar src="assets/img/{{comment.user.image}}" class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
                            <mat-card-title><a routerLink="/profile/{{comment.user.id}}">{{comment.user.prenom}} {{comment.user.nom}} </a></mat-card-title>
                            <mat-card-subtitle>{{comment.created_at}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{comment.commentContent}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button type="button" (click)="onShowReplyForm(indexx)" class="btn btn-default" placement="right"
                                    ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on left">
                                Show reply
                            </button>
                            <div *ngIf="visibleIndex2 === indexx">

                            <div *ngFor="let reply of comment.replies ;let indexxx = index">

                                <mat-card class="example-card">
                                    <mat-card-header>
                                        <div *ngIf="reply.user.id==idCurrentUser || post.user.id==idCurrentUser ">
                                        <button style="margin-left: 400px" mat-icon-button p [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu" style="position: center"  >
                                            <button (click)="onDeleteReply(comment.replies,reply)" mat-menu-item>
                                                <mat-icon>delete</mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                        </div>
                                        <img mat-card-avatar src="assets/img/{{reply.user.image}}"  class="img-circle" height="90" width="90" alt="Avatar" class="rounded-circle" >
                                        <mat-card-title><a routerLink="/profile/{{reply.user.id}}">{{reply.user.prenom}} {{reply.user.nom}} </a></mat-card-title>
                                          <mat-card-subtitle>{{reply.created_at}}</mat-card-subtitle>
                                      </mat-card-header>
                                      <mat-card-content>
                                          <p>
                                              {{reply.replyContent}}
                                          </p>
                                      </mat-card-content>

                                  </mat-card>
                              </div>

                                  <form [formGroup]="addReplyForm"  class="Reply-form">
                                      <mat-form-field class="example-full-width">
                                          <textarea matInput (ngModel)="replyContent" rows="3" cols="30"  formControlName="replyContent" placeholder="Leave a reply" pInputTextarea autoResize="autoResize"></textarea>
                                      </mat-form-field>
                                      <button type="button" type="submit" (click)="onAddReply(comment)" class="btn btn-primary">Reply</button>
                                  </form>
                              </div>

                          </mat-card-actions>
                      </mat-card>

                      </div>
                          <form [formGroup]="addCommentForm" class="Comment-form">
                              <textarea (ngModel)="commentContent" rows="3" cols="30" formControlName="commentContent" placeholder="Leave a comment" pInputTextarea autoResize="autoResize" class="form-control form-control-danger" required></textarea>
                              <button type="button" type="submit" (click)="onAddComment(post)" class="btn btn-primary">Comment</button>
                          </form>
                      </div>

                  </p-footer>
              </p-card>
              </div>

          </div>
      </div>
      <footer class="footer footer-default">
          <div class="container">
              <nav>
                  <ul>
                      <li>
                          <a href="https://www.creative-tim.com">
                              Creative Tim
                          </a>
                      </li>
                      <li>
                          <a href="https://www.creative-tim.com/about-us">
                              About Us
                          </a>
                      </li>
                      <li>
                          <a href="http://blog.creative-tim.com">
                              Blog
                          </a>
                      </li>
                      <li>
                          <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                              MIT License
                          </a>
                      </li>
                  </ul>
              </nav>
              <div class="copyright">
                  &copy;
                  {{data | date: 'yyyy'}}, Designed by
                  <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
              </div>
          </div>
      </footer>
  </div>

