

<p-accordion [multiple]="true">
    <p-accordionTab  header="pourcentage d'utilisation des catégories de post  ">
        <p-chart type="doughnut" [data]="data"></p-chart>
    </p-accordionTab>
    <p-accordionTab  header="Nombre de posts publié par mois cette année">
        <p-chart type="bar" [data]="data2"></p-chart>
    </p-accordionTab>

</p-accordion>
