<!-- <h1>aa</h1>
<form [formGroup]="authentication">
  <input type="text" formControlName="email">

  <input type="text" formControlName="password">
  <button (click)="authenticate()">Authenticate</button>
</form>
<button (click)="logout()">logout</button>
<div *ngIf="showErrorMessage">
      <h1>Invalid username and password Please try again</h1>
    </div> -->

    <div class="page-header" filter-color="orange">
      <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
      <div class="container">
          <div class="col-md-4 content-center">
              <div class="card card-login card-plain">
                  <form class="form" method="" action=""[formGroup]="authentication">
                      <div class="header header-primary text-center">
                          <div class="logo-container">
                              <img src="assets/img/now-logo.png" alt="">
                          </div>
                      </div>
                      <div class="content">
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                          <div class="input-group-prepend">
                              <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                            
                          </div>
                            <input type="text" class="form-control" placeholder="email" (focus)="focus=true" (blur)="focus=false" formControlName="email">
                        </div>
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                          </div>
                            <input type="password" placeholder="password" class="form-control" (focus)="focus1=true" (blur)="focus1=false"formControlName="password">
                        </div>
                      </div>
                      <div *ngIf="showErrorMessage">
                          <p style="color:white">Invalid username and password Please try again</p>
                        </div>
                      <div class="footer text-center">
                          <button class="btn btn-primary btn-round btn-lg btn-block"(click)="authenticate()">Authenticate</button>
                         <!--  <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a> -->
                      </div>
                      <div class="pull-left">
                          <h6>
                              <a href="#pablo" class="link">Create Account</a>
                          </h6>
                      </div>
                      <div class="pull-right">
                          <h6>
                              <a href="#pablo" class="link">Need Help?</a>
                          </h6>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <footer class="footer">
          <div class="container">
              <nav>
                  <ul>
                      <li>
                          <a href="https://www.creative-tim.com">
                              Creative Tim
                          </a>
                      </li>
                      <li>
                          <a href="https://www.creative-tim.com/about-us">
                              About Us
                          </a>
                      </li>
                      <li>
                          <a href="http://blog.creative-tim.com">
                              Blog
                          </a>
                      </li>
                      <li>
                          <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                              MIT License
                          </a>
                      </li>
                  </ul>
              </nav>
              <div class="copyright">
                  &copy;
                {{data | date: 'yyyy'}}, Designed by
                  <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
              </div>
          </div>
      </footer>
  </div>