
<br>
<br>
<br><br>
<div class="container" *ngFor="let e of listEntretien ">
  <div class="col-md-10 ml-auto col-xl-10 mr-auto card col-md-offset-2">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">{{e.candidature.candidate.nom.toString().toUpperCase() }}</li>
      <li style="color: transparent">e</li>
      <li class="nav-item">{{e.candidature.candidate.prenom.toString().toUpperCase() }}</li>
      <li style="color: transparent">espace</li>
      <li class="nav-item"> {{e.date | date}}</li>
      <li style="color: transparent">espace</li>
      <li class="nav-item"> {{e.candidature.score}}</li>

    </ul>


  </div>


  <br>
  <br>



</div>

