
      <app-navbar></app-navbar>
<div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/jo.png');">
            </div>
           <!--  <div class="container">
                <div class="content-center">
                    <h1 class="title">{{jobofferdetails.nameEntreprise}}</h1>
                    <div class="text-center">
                      <h2 class="title">{{jobofferdetails.name}}</h2>
                     
                    </div>
                </div>
            </div> -->
            
        </div>
      </div>
      <div class="container text-center" style="margin-top:-100px;background-color:white">
            <div class="row" >
                    <div class="col-sm" style="padding:20px;margin:10px" id="card">
                      <div class="col-sm" >
                            <h1 class="title">{{jobofferdetails.name}}</h1>
                                <div style="font-size: 20px;" > <i class="fas fa-eye"></i>
                                  {{vues}}</div>
                      </div>      
                    </div>
                </div>
      </div>
      <div class="container text-center" >
            <div class="row" >
                    <div class="col-sm"  >
                      <div class="col-sm" >
                           <button class="btn btn-primary"(click)="home()">Back to Home</button>
                           <button class="btn btn-primary"(click)="entreprise()">Entreprise</button>
                      </div>      
                    </div>
                </div>
                <div class="row" >
                        <div class="col-sm"  >
                          <div class="col-sm" >
                               <button class="btn btn-info">postuler</button>
                          </div>      
                        </div>
                    </div>
      </div>
      <div class="container text-center" *ngIf="jobofferdetails.skills" >
            <div *ngFor="let skill of jobofferdetails.skills " style="display: inline-block;" >
                    
                    <span  class="badge badge-default" >{{skill.skill}}</span>     
            </div>
      </div>

<div class="row"  style="padding:20px;margin:10px">
<div class="col-sm" id="card">
    <p class="category">name Entreprise:<span style="color:black"> {{jobofferdetails.nameEntreprise}}</span> </p>
</div>
<div class="col-sm" id="card">
    <p class="category">date Creation:<span style="color:black"> {{jobofferdetails.dateCreation|date}}</span> </p>
</div>
</div>
<div class="row" style="padding:20px;margin:10px">
    <div class="col-sm" id="card">
        <p class="category">name:<span style="color:black"> {{jobofferdetails.name}}</span> </p>   
      </div>
      <div class="col-sm" id="card">
          <p class="category">location: <span style="color:black"> {{jobofferdetails.location}}</span> </p>      
          </div>
</div>
<div class="row" style="padding:20px;margin:10px">
    <div class="col-sm" id="card">
        <p class="category">diploma:  <span style="color:black"> {{jobofferdetails.diploma}}</span> </p>    
    </div>
    <div class="col-sm" id="card">
        <p class="category">Nom Employe: <span style="color:black">  {{jobofferdetails.employe.nom}}</span> </p>  
    </div>
</div>
<div class="row" style="padding:20px;margin:10px">
    <div class="col-sm" id="card">
        <p class="category">minimum Salary: <span style="color:black"> {{jobofferdetails.minimumSalary}}</span> </p>   
    </div>
    <div class="col-sm" id="card">
      <p class="category">maximum Salary:<span style="color:black"> {{jobofferdetails.maximumSalary}}</span> </p>     
    </div>  
  </div>

        <div *ngIf="theBest">
                <ul>
                        <ul>
                                <li *ngFor="let recipient of theBest | keyvalue">
                                
                                    {{recipient.key}} --> {{recipient.value}}
                                    <button class="btn btn-info">Send Message</button>
                                </li>
                            </ul>
                      
                      
                      </ul>
          </div>


  <!-- <div class="row" style="padding:20px;margin:10px">
      <div class="col-sm" id="card">
          <p class="category">Validate By HR:<span style="color:black"> {{jobofferdetails.validatedByHR}}</span> </p>        
      </div>
  </div> -->


<!-- id:number;
name:string;
nameEntreprise:string;
description:string;
dateCreation:Date;
fieldOfExpertise:string;
yearsOfExperience:Date;
location:Date;
diploma:string;
minimumSalary:number;
maximumSalary:number;
employe:Employe;
validatedByHR:boolean;
available:boolean;
disabled:boolean; -->