<p-table [value]="likesDislikes" [paginator]="true" [rows]="5" [responsive]="true">
  <ng-template pTemplate="header">
    <Strong>Nombre de likes = {{nbLikes}} Nombre de dislikes = {{nbDislikes}} </Strong>
    <tr>
      <th pSortableColumn="vin">Nom <p-sortIcon field="nom"></p-sortIcon></th>
      <th pSortableColumn="year">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
      <th pSortableColumn="brand">Type <p-sortIcon type="type"></p-sortIcon></th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-like>
    <tr>
      <td><span class="ui-column-title">Nom</span>{{like.user.nom}}</td>
      <td><span class="ui-column-title">Prenom</span>{{like.user.prenom}}</td>
      <td><span class="ui-column-title">Type</span>{{like.value}}</td>


    </tr>
  </ng-template>
</p-table>

