

      <app-navbar></app-navbar>
<div class="wrapper" *ngIf="entreprise">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Welcome to {{entreprise.name}}</h1>
                <div class="text-center">
                  <h2 class="title">{{entreprise.location}}</h2>
                  
                  <h2 class="title">{{entreprise.field}}</h2>
                </div>
            </div>
        </div>
    </div>
  </div>
  <p-carousel [value]="events" [numVisible]="4" class="carousel-demo" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
      <p-header>
          <h3>Basic</h3>
      </p-header>
      <ng-template let-event pTemplate="item">
          <div class="car-details">
              <div class="p-grid p-nogutter">
                  <div class="p-col-12">
                    
                  </div>
                  <div class="p-col-12 car-data">
                      <div class="car-title">{{event.name}}</div>
                      <div class="car-subtitle">{{event.location}} <br>{{event.start_date|date}}<br>{{event.end_date|date}}</div>
                     
  
                      <div class="car-buttons">
                          <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                          <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                          <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-carousel>


  
<!-- <p-carousel [value]="events" orientation="vertical" [style]="{'max-width':'400px', 'margin-top':'2em'}" verticalViewPortHeight="330px" [numVisible]="1" [numScroll]="1">
    <p-header>
        <h3>Vertical</h3>
    </p-header>
    <ng-template let-event pTemplate="item">
        <div class="car-details">
            <div class="p-grid p-nogutter">
                <div class="p-col-12">
                  
                </div>
                <div class="p-col-12 car-data">
                    <div class="car-title">{{event.name}}</div>
                    <div class="car-subtitle">{{event.name}} | {{event.color}}</div>

                    <div class="car-buttons">
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                        <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel> -->