<body style=" background-size: contain; background-repeat: no-repeat;
      background-position: center ">
<br>

<div align="center">
 
  <h1>Add Question</h1></div>
<div align="center" [formGroup]="questionForm">
  <label for="question"><span style="font-size: 20px; font-weight: bold; "> Question:</span></label>
    <input style="background-color: whitesmoke" class="form-control col-lg-10" width="20" type="text" id="question" formControlName="question">
  <div formArrayName="answers">
    <br>
    <br>
    <h3 style="font-size: 20px; font-weight: bold;">answers:</h3>
    <div class="form-group  col-11 col-lg-offset-1" *ngFor="let a of getAnswers().controls; let i = index">
      <input style="background-color: whitesmoke" class="form-control" type="text" [formControlName]="i">
      <button type="button" class="btn btn-danger btn-sm" (click)="removeAnswer(i)"> <i class="now-ui-icons ui-1_simple-delete"></i></button>
    </div>
    <button type="button" class="btn btn-primary btn-simple" (click)="addAnswer()">Add Answer</button>
  </div>
  <br>
  <div>
    <label for="correctAnswer"><span style="font-size: 20px; font-weight: bold; "> Correct answer:</span></label>
    <div class="col-lg-5">
    <input style="background-color: whitesmoke" class="form-control" type="number" id="correctAnswer" formControlName="correctAnswer">
    </div>
    </div>
  <br>
  <div>
    <label for="skill"><span style="font-size: 20px; font-weight: bold; "> Skill:</span></label>
    <div align="center">
    <select class="custom-select" id="skill" style="background-color:whitesmoke ;width: 50%" formControlName="skill">
      <option *ngFor="let s of skills" value="{{s.id}}">{{s.skill}}</option>
    </select>
    </div>
  </div>
  <br>
  <div>
    <button type="button" class="btn btn-lg btn-round" style="background-color: #0c1131" (click)="submit() " [disabled]="!questionForm.valid">Add</button>
  </div>
</div>
<br>
<ngb-alert type="success" *ngIf="added"  [dismissible]="false">This question is successfully added.</ngb-alert>
</body>
